@import "colors.css";

* {
  font-family: "JetBrains Mono", "Noto Sans", monospace;
  font-size: 14px;
  border: none;
  border-radius: 0;
  padding: 2px 5px;
}

#waybar {
  background: @bg;
  border-radius: 0;
  padding: 2px;
  color: @fg_bright;
}

#window {
  color: @fg;
  padding: 3px 10px;
  margin: 2px 2px;
  border: 1px solid @window_border;
  border-radius: 4px;
}

#workspaces {
  padding: 0px 8px;
  border-radius: 4px;
}

#workspaces button {
  padding: 0px 8px;
  background: transparent;
  color: @fg;
  border-radius: 4px;
}

#workspaces button.focused {
  background-color: @ws_active_bg;
  color: @ws_active_fg;
  border: 1px solid @ws_active_border;
}

#workspaces button.active {
  background-color: @ws_active_bg;
  color: @ws_active_fg;
  border: 1px solid @ws_active_border;
}

#workspaces button.urgent {
  background-color: @urgent;
  color: @urgent_text;
}

#backlight, #custom-powerprofile, #custom-vpn, #custom-updates, #idle_inhibitor, #pulseaudio, #cpu, #memory, #battery, #network, #bluetooth, #clock {
  color: @fg;
  border-radius: 4px;
  padding: 3px 10px;
  margin: 2px 2px;
  border: 1px solid @border;
}

#tray {
  color: @fg;
  background-color: @tray_bg;
  border-radius: 4px;
  padding: 3px 6px;
  margin: 2px 4px;
  border: 1px solid @tray_border;
}

#custom-separator {
  color: @separator;
}

#custom-updates.updated {
  color: @updates_ok;
  border-color: @updates_ok;
}

#custom-updates.updates-available {
  color: @updates_avail;
  border-color: @updates_avail;
}

#battery.warning {
  color: #d79921;
  border-color: #d79921;
}

#battery.critical {
  color: @urgent;
  border-color: @urgent;
}
